.App {
  text-align: center;
}

a{
  text-decoration: none;
}

a:visited{
  color:white
}

.MuiAppBar-root{
  text-align: left;
}


.MuiToolbar-root{
  justify-content:space-between ;
}

.MuiContainer-root{
  /* border:.1px solid red */
}
