.App {
  text-align: center;
}

a{
  text-decoration: none;
}

a:visited{
  color:white
}

.MuiAppBar-root{
  text-align: left;
}


.MuiToolbar-root{
  justify-content:space-between ;
}

.homeFlex{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.formHold{
  min-width: 350px;
}

.contactHold{
  min-width: 350px;
  margin: 2% auto; 
}


@media only screen and (max-width:760px){
  .homeFlex{
    flex-direction:column;
    /* border:1px solid red; */
    width: 100%;
  }

  .formHold{
    min-width: 0;
    width: 100%;

  }

  .contactHold{
    min-width: 0;
    width: 100%;

  }
  
}
